<div class="row text-center">
<%= link_to("Create",new_topic_path,class:"btn btn-warning ") %>
<br><br><br>
</div>
<div class="row">
  <% @topics.each do |topic| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h3><%= link_to topic.name,topic_path(topic) %></h3>
        <br>

        <p>
        <%= link_to("Show",topic_path(topic), class: "btn btn-primary") %>
        <%= link_to("Edit",edit_topic_path(topic), class: "btn btn-info") %>
        <%= link_to("Delete",topic_path(topic),method: :delete, data:{confirm: "Are U sure??"}, class: "btn btn-warning") %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
