<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名稱</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td><%= @topic.name %></td>
            <td><%= @topic.user.email %></td>
          </tr>
    </tbody>
  </table>
</div>
<div class="container text-center" >
  <div  style="border: 1px solid blue; width: 30%;">
          <h3>Comment </h3>
          <br>
          <table class="table table-hover">
            <tbody>
              <% @comments.each do |comment| %>
                  <tr>

                      <td><%= comment.content %></td>

                  </tr>
                  <% end %>
            </tbody>
          </table>
          <%= simple_form_for @comment, url: comment_topic_path do |f| %>
            <div class="form-group">
              <%= f.input :content , input_html:{class: "form-control"} %>
            </div>
            <%= f.submit "發表評論", class: "btn btn-primary", data: {disable_with: "Submitting....."} %>
          <% end %>

  </div>
</div>

<div class="text-center">
  <%= link_to "回上一頁",topics_path, class: "btn btn-primary" %>
</div>
