<div class="container">
  <% if current_user && !current_user.is_store_of?(@topic) %>
      <%= link_to("收藏本篇文章", store_topic_path(@topic), method: :post, class: "btn btn-success pull-right") %>
  <% else %>
      <%= link_to("移除收藏文章", unstore_topic_path(@topic), method: :post, class: "btn btn-warning pull-right") %>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名稱</th>
        <th>Photo</th>
        <th>Creator</th>
        <th>瀏覽人數</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td><%= @topic.name %></td>
            <td><% if @topic.photo.present? %>
              <%= image_tag(@topic.photo.image.medium.url,class:"thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/100x100&text=No Pic", class:"thumbnail") %>
            <% end %>
            </td>
            <td><%= @topic.user.email %></td>
            <td><%= @topic.viewcount %></td>
          </tr>
    </tbody>
  </table>
</div>
<div class="container" >
  <h3 class="text-center">Comment </h3>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>回覆內容</th>
        <th>Comment's Photo</th>
        <th>Comment's creator</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td>
          <% if comment.photo.present? %>
            <%= image_tag(comment.photo.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/25x25&text=No Pic", class:"thumbnail") %>
          <% end %>
          </td>
          <td>
            <% if comment.user.present? %>
              <%= comment.user.email %>
            <% end %>
          </td>
          <td>
            <% if current_user && current_user == comment.user %>
              <%= link_to("Edit",topic_path(comment_id: comment),class:"btn btn-info") %>
              <%= link_to("Delete",del_comment_topic_path(comment_id: comment),method: :post, class: "btn btn-warning") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= simple_form_for @comment, url: comment_topic_path(comment_id: @comment),method: :post do |f| %>
    <div class="form-group">
      <%= f.input :content , placeholder: '回覆評論',input_html:{class: "form-control"} %>
    <% if @photo.image.present? %>
      <%= image_tag(@photo.image.thumb.url, class: "thumbnail") %>
    <% end %>
      <%= f.simple_fields_for :photo do |c| %>
        <%= c.input :image,label: '回覆上傳照片', as: :file %>
      <% end %>
    
    </div>
    <%= f.submit "發表評論", class: "btn btn-primary", data: {disable_with: "Submitting....."} %>
  <% end %>


</div>

<div class="text-center">
  <%= link_to "回上一頁",topics_path, class: "btn btn-primary" %>
</div>
