<div class="text-center">
  <h1>個人簡介</h1><br>
  <div class="table table-bordered">
    <% if current_user.profile.present? %>
      <p><%= @profile.content  %></p>
    <% end %>
  </div>
<div class="table">
  <%= form_for @profile, url: edit_profile_users_path , method: :put do |f| %>
  <div class="form-group">
    <%= f.label "更新個人檔案" %>
    <%= f.text_field :content, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "更新", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>

</div>
